<div id="templatemo_menu">
    <ul>
        <li><a href="@Url.Action("Index", "BookStore")" class="current">Trang chủ</a></li>
        <li><a href="@Url.Action("DangKy", "Nguoidung")">Đăng ký</a></li>
        <li><a href="@Url.Action("DangNhap", "Nguoidung")">Đăng Nhập</a></li>
        <li>@Html.Action("GioHangPartial", "Giohang")</li>
    </ul>
</div> <!-- end of menu -->

<div id="templatemo_header">
    <div id="templatemo_special_offers">
        <p>
            <span>25%</span> discounts for
            purchase over $80
        </p>
        <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
    </div>


    <div id="templatemo_new_books">
        <ul>
            <li>Suspen disse</li>
            <li>Maece nas metus</li>
            <li>In sed risus ac feli</li>
        </ul>
        <a href="subpage.html" style="margin-left: 50px;">Read more...</a>
    </div>
</div> <!-- end of header -->
