@model IEnumerable<MvcBookStore.Models.NHAXUATBAN>

<div class="templatemo_content_left_section">
    <h1>Nhà xuất bản</h1>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("SPTheoNXB", "BookStore", new { id = item.MaNXB})">@item.TenNXB</a></li>
        }
    </ul>
</div>
